= render 'commons/header'

.section-title お知らせ一覧

.container
    .text-right
        =link_to new_admin_notification_path do
            %button.btn.btn-primary.btn-lg 新しいお知らせを作成する
    .home-title
    - @notifications.each do |notification|
        =render 'commons/notification', notification: notification
