= render 'commons/header'

.section-title TaskManagement

.container
    .text-right
        = link_to new_task_management_path do
            %button.btn.btn-primary.btn-lg.mb-3 新しい課題を追加する
    .complete-tasks
        %h2 完了
        -@complete_tasks.each do |task|
            =render 'commons/task', task: task
    .not_yet-tasks
        %h2 未完
        -@not_yet_tasks.each do |task|
            =render 'commons/task', task: task
    .over-tasks
        %h2 超過
        -@over_tasks.each do |task|
            =render 'commons/task', task: task