=render 'commons/header'

.section-title Articles

.container
    .article-title.fw-bold
        = @article.title
        .article-tag.float-end
            Tag：
            = @article.tag
    .article-content
        = @article.content


.page-bottom
