.header.px-5
  .header-title
    =link_to "HYPERWEBSERVICE", root_path, class: "fs-1 fw-bold"

  %ul.d-flex.justify-content-center.justify-content-sm-start.flex-wrap

    -if current_user.admin?
      %li
        =link_to "User", new_user_registration_path, class: "text-warning fs-5"
      %li
        =link_to "Chats", rooms_path, class: "text-warning fs-5"
      %li
        =link_to "TaskManagement", task_managements_path ,class: "text-warning fs-5"
    %li
      =link_to "Home", root_path, class: "fs-5"
    %li
      =link_to "Notificatioin", notifications_path, class: "fs-5"
    -unless current_user.admin?
      %li
        =link_to "Chat", room_path(current_user.id), class: "fs-5"
    %li
      =link_to "Article", articles_path, class: "fs-5"
    %li
      =link_to "Profile", profile_path, class: "fs-5"
    %li
      =link_to "Task", tasks_path, class: "fs-5"
    %li
      =link_to "Logout", destroy_user_session_path, data: { method: 'delete', confirm: "本当にログアウトしてよろしいですか？" }, class: "fs-5"

