.header.px-5
  .header-title
    =link_to "HYPERWEBSERVICE", root_path

  %ul.d-flex.justify-content-between
    %li
      =link_to "Home", root_path
    %li
      =link_to "Profile", root_path
    %li
      =link_to "Task", tasks_path
    %li
      =link_to "Logout", destroy_user_session_path, data: { method: 'delete' }
