=render 'commons/header'

.section-title Chat Room

.container

    .message-box#messages{"data-room_id" => "#{@room.id}"}
        = render @messages
    .text-end
        = label_tag :content, 'メッセージ：'
        = text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: "message-form"

