.article {
    &-wrapper {
        padding: 5px;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 5px;

        
    }

    &-tag {
        font-size: 12px;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 30px;


    }

    &-content {
        line-height: 25px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        padding: 15px 2px;
    }

}


.rich-form-area {
    min-height: 500px;
    overflow-y: auto;
    border: 1px solid black;

}