.message-box {
    width: 100%;
    height: 450px;
    border: solid 1px black;
    padding: 5px;
    margin-bottom: 15px;
    overflow-y: auto;

    @media screen and (max-width: 479px) {
        height: 300px;
    }
}

.message-label {
    min-width: 120px;
    line-height: 30px;
}



.chat-user-list {

    li {
        list-style: none;
        margin-bottom: 5px;
        
    }
}