.alert-position {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}



.flash {
    -webkit-animation: fade-in-out;
    animation: fade-in-out;
    visibility: hidden;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade-in-out {
    0% {
      visibility: visible;
      opacity: 1;
    }
  
    50% {
      visibility: visible;
      opacity: 1;
    }
  
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  @keyframes fade-in-out {
    0% {
      visibility: visible;
      opacity: 1;
    }
  
    50% {
      visibility: visible;
      opacity: 1;
    }
  
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }