.header {
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    flex-wrap: wrap;

    a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
    }

    &-title {
        font-size: 1.4em;
        line-height: 50px;
        text-decoration:overline;
        text-decoration:underline;

    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;

    }
    li {
        list-style: none;
        margin-left: 10px;
        line-height: 50px;
        
    }

    @media screen and (max-width: 600px) {
        display: block;

        &-title {
            width: 100%;
            text-align: center;
            font-size: 2em;
        }
        li {
            font-size: 1.4em;
        }
      }
}

